<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add connectionString="Data Source=localhost;Initial Catalog=mil_fragancias;User ID=sa;Password=sa12345" name="myStrCon"/>
  </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMilFraganciasService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:55592/MilFraganciasService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMilFraganciasService"
                contract="MFService.IMilFraganciasService" name="BasicHttpBinding_IMilFraganciasService" />
        </client>
    </system.serviceModel>
</configuration>